*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.password-error{
    color: #ff0000;
    font-size: smaller;
}

.email-error{
    color: #ff0000;
    font-size: smaller;

}

@media(max-width:768px){
  .resp{
    
   margin-left: 15px;
  margin-right: 15px; 
  
}

.head-resp{
    font-size: 25px;
    font: 1.5em sans-serif;
}

}