*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.list-none{
    list-style: none;
}

.font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





/* navbar started */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

   font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #90e0ef;
    color: #1B1B29;
    padding: 1em;
}

.navbar-brand {
    font-size: 1.5em;
}

.profile {
    display: flex;
    align-items: center;
    position: relative;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    color: black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 150px;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}





/* navbar ended */





/* footer started */
.footer {
    background-color: #6200ea;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s;
}

.footer-button i {
    font-size: 1em;
}

.footer-button:hover {
    color: #ffeb3b;
}

/* footer ended */